<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mueum Booking System</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <div class="logo">Museum</div>
    <ul class="nav-links">
      <li><a href="/home">Home</a></li>
      <li><a href="/payment">Payment</a></li>
      <li><a href="/virtual-tour">Virtual Tour</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Create Account</a></li>
    </ul>
    <div class="search-container">
      <input type="text" placeholder="Search..." />
      <button type="submit" style="background: none; border: none; cursor: pointer;"><i
          class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg" style="color: #f7f7f7;"></i></button>
    </div>
  </nav>
  <div class="museum-container">
    <!-- Museum 1 -->
    <div class="museum">
      <img src="/images/ma.jpg">
      <h3>National Museum of Delhi</h3>
      <p class="inner-text">
        <strong>Ratings: ⭐⭐⭐⭐</strong>
        <br>
        <br>
        <i class="phrase">"A sanctuary where time stands still, the museum whispers the untold stories of Delhi's soul,
          woven through centuries of art and history."</i>
        <br>
        <br>
        <strong>Timings: </strong> : 10:00 AM - 6:00 PM
        <br>
        <br>
        <strong>Entry Fee :</strong>
        <ul class="inner-text">
          <li>Indians: INR 20 per head</li>
          <li>Foreigners: INR 650</li>
          <li>Free Student Entry</li>
        </ul>
        <br>
      </p>
      <a href="/booking">
      <button id="book-now-button" class="book-now">Book Now</button>
    </a>
    </div>
    <!-- Museum 2 -->
    <div class="museum">
      <img src="/images/download.jpeg">
      <h3>Indian Museum, Kolkata</h3>
      <p class="inner-text">
        <strong>Ratings: ⭐⭐⭐</strong>
        <br>
        <br>
        <i class="phrase">"In these hallowed halls, history is not just displayed—it lives and breathes, telling the epic story of a civilization as vast and diverse as India itself."</i>
        <br>
        <br>
        <strong>Timings: </strong> : 10:00 AM - 4:30 PM
        <br>
        <br>
        <strong>Entry Fee :</strong>
        <ul class="inner-text">
          <li>Indians: INR 10 per head</li>
          <li>Foreigners: INR 150</li>
          <li>Free Student Entry</li>
        </ul>
        <br>
      </p>
      <a href="/booking">
        <button id="book-now-button" class="book-now">Book Now</button>
      </a>
    </div>
      <!-- Museum 3 -->
      <div class="museum">
        <img src="/images/mb.jpg">
        <h3>Government Museum, Chennai</h3>
        <p class="inner-text">
          <strong>Ratings: ⭐⭐⭐⭐</strong>
          <br>
          <br>
          <i class="phrase">"In the heart of Chennai, this museum is a treasure chest of Tamil Nadu’s glorious past, where each exhibit speaks the language of tradition, art, and discovery."</i>
          <br>
          <br>
          <strong>Timings: </strong> : 9:30 AM - 5:00 PM
          <br>
          <br>
          <strong>Entry Fee :</strong>
          <ul class="inner-text">
            <li>Indians: INR 50 per head</li>
            <li>Foreigners: INR 800</li>
            <li>Free Student Entry</li>
          </ul>
          <br>
        </p>
        <a href="/booking">
          <button id="book-now-button" class="book-now">Book Now</button>
        </a>
      </div>
        <!-- Museum 4 -->
    <div class="museum">
      <img src="/images/md.jpeg">
      <h3>Rail Museum, Delhi</h3>
      <p class="inner-text">
        <strong>Ratings: ⭐⭐⭐</strong>
        <br>
        <br>
        <i class="phrase">"A journey through time on iron rails, the Rail Museum in Delhi celebrates the heartbeat of India’s progress, where every locomotive tells a story of dreams and destinations."</i>
        <br>
        <br>
        <strong>Timings: </strong> : 10:00 AM - 5:00 PM
        <br>
        <br>
        <strong>Entry Fee :</strong>
        <ul class="inner-text">
          <li>Indians: INR 30 per head</li>
          <li>Foreigners: INR 500</li>
          <li>Free Student Entry</li>
        </ul>
        <br>
      </p>
      <a href="/booking">
        <button id="book-now-button" class="book-now">Book Now</button>
      </a>
    </div>
      <!-- Museum 5 -->
      <div class="museum">
        <img src="/images/me.jpeg">
        <h3>Albert Hall Museum</h3>
        <p class="inner-text">
          <strong>Ratings: ⭐⭐⭐⭐</strong>
          <br>
          <br>
          <i class="phrase">"Like a jewel in the Pink City’s crown, the Albert Hall Museum dazzles with its collection of art and history, a living reflection of the cultural vibrancy of Rajasthan."</i>
          <br>
          <br>
          <strong>Timings: </strong> : 10:00 AM - 6:00 PM
          <br>
          <br>
          <strong>Entry Fee :</strong>
          <ul class="inner-text">
            <li>Indians: INR 20 per head</li>
            <li>Foreigners: INR 650</li>
            <li>Free Student Entry</li>
          </ul>
          <br>
        </p>
        <a href="/booking">
          <button id="book-now-button" class="book-now">Book Now</button>
        </a>
      </div>
        <!-- Museum 6 -->
    <div class="museum">
      <img src="/images/mf.jpg">
      <h3>Shankar's International Dolls Museum</h3>
      <p class="inner-text">
        <strong>Ratings: ⭐⭐⭐⭐</strong>
        <br>
        <br>
        <i class="phrase">"A world of wonder in miniature, Shankar’s International Dolls Museum is where stories of childhood and culture come alive in every delicate figure."</i>
        <br>
        <br>
        <strong>Timings: </strong> : 10:00 AM - 5:30 PM
        <br>
        <br>
        <strong>Entry Fee :</strong>
        <ul class="inner-text">
          <li>Indians: INR 25 for adults</li>
          <li>Kids: INR 15</li>
          <li>Foreigners: INR 400</li>
          
        </ul>
        <br>
      </p>
      <a href="/booking">
        <button id="book-now-button" class="book-now">Book Now</button>
      </a>
    </div>
      <!-- Museum 7 -->
      <div class="museum">
        <img src="/images/mg.jpg">
        <h3>Dakshinachitra Museum, Chennai</h3>
        <p class="inner-text">
          <strong>Ratings: ⭐⭐⭐</strong>
          <br>
          <br>
          <i class="phrase">"A living canvas of South India’s soul, Dakshinachitra Museum is where the art, architecture, and traditions of the past are preserved in timeless beauty."</i>
          <br>
          <br>
          <strong>Timings: </strong> : 10:00 AM - 6:00 PM
          <br>
          <br>
          <strong>Entry Fee :</strong>
          <ul class="inner-text">
            <li>Indians: INR 100 - INR 120 per head</li>
            <li>Foreigners: INR 250</li>
            <li>Students (13 - 18yrs) - INR 50</li>
          </ul>
          <br>
        </p>
        <a href="/booking">
          <button id="book-now-button" class="book-now">Book Now</button>
        </a>
      </div>
        <!-- Museum  8-->
    <div class="museum">
      <img src="/images/mh.jpeg">
      <h3>Victoria Memorial, Kolkata</h3>
      <p class="inner-text">
        <strong>Ratings: ⭐⭐⭐⭐</strong>
        <br>
        <br>
        <i class="phrase">"At the crossroads of time, the Victoria Memorial stands as a tribute to both empire and evolution, where the past meets the present in regal splendor."</i>
        <br>
        <br>
        <strong>Timings: </strong> : 5:30 AM - 6:15 PM
        <br>
        <br>
        <strong>Entry Fee :</strong>
        <ul class="inner-text">
          <li>Indians: INR 10 per head</li>
          <li>Foreigners: INR 200</li>
          <li>Free Student Entry</li>
        </ul>
        <br>
      </p>
      <a href="/booking">
        <button id="book-now-button" class="book-now">Book Now</button>
      </a>
    </div>
      <!-- Museum 9 -->
      <div class="museum">
        <img src="/images/mi.jpeg">
        <h3>Salar Jung Museum</h3>
        <p class="inner-text">
          <strong>Ratings: ⭐⭐⭐⭐</strong>
          <br>
          <br>
          <i class="phrase">"A treasure trove of art and antiquity, the Salar Jung Museum is a testament to the timeless beauty of human creativity, spanning continents and centuries."</i>
          <br>
          <br>
          <strong>Timings: </strong> : 10:00 AM - 6:00 PM
          <br>
          <br>
          <strong>Entry Fee :</strong>
          <ul class="inner-text">
            <li>Indians: INR 20 per head</li>
            <li>Foreigners: INR 650</li>
            <li>Free Student Entry</li>
          </ul>
          <br>
        </p>
        <a href="/booking">
          <button id="book-now-button" class="book-now">Book Now</button>
        </a>
      </div>
        <!-- Museum 10 -->
    <div class="museum">
      <img src="/images/mj.jpeg">
      <h3>Brain Museum, Bangalore</h3>
      <p class="inner-text">
        <strong>Ratings: ⭐⭐⭐⭐</strong>
        <br>
        <br>
        <i class="phrase">"A temple of neuroscience, the Brain Museum offers a glimpse into the organ that defines us, inviting visitors to explore the marvels of thought, memory, and consciousness."</i>
        <br>
        <br>
        <strong>Timings: </strong> : 10:00 AM - 6:00 PM
        <br>
        <br>
        <strong>Entry Fee :</strong>
        <ul class="inner-text">
          <li>Indians: INR 100 per head</li>
          <li>Foreigners: INR 1000</li>
          <li>Students: INR 500</li>
        </ul>
        <br>
      </p>
      <a href="/booking">
        <button id="book-now-button" class="book-now">Book Now</button>
      </a>
    </div>
      <!-- Museum 11 -->
      <div class="museum">
        <img src="/images/mk.jpeg">
        <h3>Library of Tibetan Works and Archives</h3>
        <p class="inner-text">
          <strong>Ratings: ⭐⭐⭐</strong>
          <br>
          <br>
          <i class="phrase">"In this repository of knowledge, the whispers of Tibetan history echo through the ages, each manuscript a thread in the rich tapestry of a resilient culture."</i>
          <br>
          <br>
          <strong>Timings: </strong> : 9:00 AM - 5:00 PM
          <br>
          <br>
          <strong>Entry Fee :</strong>
          <ul class="inner-text">
            <li>Indians: INR 20 per head</li>
            <li>Foreigners: INR 850</li>
            <li>Free Student Entry</li>
          </ul>
          <br>
        </p>
        <a href="/booking">
          <button id="book-now-button" class="book-now">Book Now</button>
        </a>
      </div>
        <!-- Museum 12 -->
    <div class="museum">
      <img src="/images/ml.jpg">
      <h3>Napier Museum, Thiruvananthpuram</h3>
      <p class="inner-text">
        <strong>Ratings: ⭐⭐⭐⭐</strong>
        <br>
        <br>
        <i class="phrase">"A guardian of Kerala’s history, the Napier Museum showcases the state’s artistic brilliance and cultural diversity, offering a glimpse into its vibrant past."</i>
        <br>
        <br>
        <strong>Timings: </strong> : 8:00 AM - 9:00 PM
        <br>
        <br>
        <strong>Entry Fee :</strong>
        <ul class="inner-text">
          <li>Indians: INR 40 per head</li>
          <li>Foreigners: INR 1500</li>
          <li>Free Student Entry</li>
        </ul>
        <br>
      </p>
      <a href="/booking">
        <button id="book-now-button" class="book-now">Book Now</button>
      </a>
    </div>
  </div>

  <script src="index.js"></script>
  <script src="script.js"></script>
  <script type="module" src="/scriptb.js"></script>
</body>

</html